body {
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    text-align: center;
}

div#main {
    max-width: 1000px;
    margin: auto;
}

div#main>div {
    border: 1px solid whitesmoke;
    height: 30px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
}

div#main>div:not(:first-of-type) {
    margin-top: 10px;
}

div#main>div:not(:nth-last-of-type(2)) {
    grid-template-columns: 50px repeat(4, 1fr);
}

div#main>div:first-of-type,
div#main>div:last-of-type {
    grid-template-areas: ". a1 a2 a3 a4";
}

div#main>div:first-of-type>:nth-child(1),
div#main>div:last-of-type>:nth-child(1) {
    grid-area: a1;
}

div#main>div:first-of-type>:nth-child(2),
div#main>div:last-of-type>:nth-child(2) {
    grid-area: a2;
}

div#main>div:first-of-type>:nth-child(3),
div#main>div:last-of-type>:nth-child(3) {
    grid-area: a3;
}

div#main>div:first-of-type>:nth-child(4),
div#main>div:last-of-type>:nth-child(4) {
    grid-area: a4;
}

div#main button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

button.plus {
    /* background-color: green; */
    /* border-color: green;
    color: green; */
}

button.minus {
    /* background-color: red; */
    /* border-color: red;
    color: red; */
}

div#main input {
    height: 20px;
    width: 100px;
    border-radius: 10px;
    /* padding: 0px 10px; */
    padding: 0px;
    text-align: center;
    border: 1px solid whitesmoke;
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    outline: none;
}